<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>LifestyleLinking - open source project</title>

<link rel="stylesheet" href="css/main.css" type="text/css" />
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/global-forms.css" type="text/css" />

<link rel="stylesheet" href="js/llcontrol.js" type="text/javascript" />

</head>

<body id="index" class="home"> 

<header class="identity">
	<nav>
		<ul class="menu-lifestyle">
				  <li class="active">
                Please select an identity: 
            </li>
					<li class="active">
                <a class="menu-text" text="delicious" title="Delicious" href="id/delicious">Delicous</a>
            </li>
            <li class="active">
                <a class="menu-text" text="twitter" title="Twitter" href="id/twitter">Twitter</a>
            </li> 
			</ul>  
	</nav>
</header>

<section class="lifelens">
</section>

<section class="lifeflow">
</section>

<footer class="cloneme">
<a href="http://www.lifestylelinking.net">LifestyleLinking Open Source Project</a> <a href="#" id="cloning">Clone Me</a>
</footer>

</body>
</html>