body
{
	background-color:white;
	color: black;
	text-align:center;
}



header, footer, nav, section, article {display:block;}



header
{
	width:100%;
	background-color:#CCEBFF;
}



nav
{
	width:20%;
	background-color:#CCEBFF;
	float:left;
}

section
{
	width:75%;
	background-color:#CCEBFF;
	float:right;
}

article 
{
	width:80%;
	margin:2em 10%;
	background-color:#CCEBFF;
}



footer
{
	width:100%;
	background-color:#CCEBFF;
	clear:both;
} 